<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/header.css">
</head>
<body>
    <div class="header-wrap">
        <div class="header-logo">
            <a href="index.html"><img src="./img/logo/header_logo.png" alt=""></a>
        </div>
        <div class="nav">
            <ul>
            <li><a href="./about_us.html">About us</a></li>
            <li><a href="education.html">Education</a></li>
            <li><a href="professor.html">Professor</a></li>
            <li class="project-with-rag">
                <a href="project.html">Project</a>
                <!-- RAG 말풍선 -->
                <div class="rag-bubble">RAG!!</div>
            </li>
            <li><a href="community.html">Community</a></li>
            <li id="user-menu"></li> <!-- 로그인 상태 동적 삽입 -->
            </ul>
        </div>
    </div>
</body>
</html>
